<div class="visualizacao-toggle">
  <button id="btn-pontos" class="active">Visualizar Pontos</button>
  <button id="btn-heatmap">Visualizar Heatmap</button>
</div>

<div id="map-frame-container">
  <iframe
    src="https://api.mapbox.com/styles/v1/lucasdesiqueirasantos/cmah1zaex00e001s8dihj0ma0.html?title=false&access_token=pk.eyJ1IjoibHVjYXNkZXNpcXVlaXJhc2FudG9zIiwiYSI6ImNtNnBoczFtdTFmajYya3B4azBwNnVmN20ifQ.93k85FgVgMnWaU6UFUZQBg&zoomwheel=false#2/38/-34"
    title="Mapa Pontos"
    style="border: none; width: 100%; height: 400px;"
    loading="lazy"
  ></iframe>
</div>
